##### Veri seti içerisindeki eksikliği ifade eder 'NA' şeklinde görülebilir
Veri setinden direk çıkarılan eksik değere sahip gözlemler istasitiksel çıkarımların ve modelleme çalışmalarının güvenilirliğini düşürecektir.
Eğer eksiklikler değişkenler ile ilişkili olarak ortaya çıkan yapısal problemler ile meydana gelmiş ise bu durumda yapılacak silme işlemleri ciddi yanlılıklara sebep olabilecektir.

1. Veri setindeki eksikliğin yapısal bir eksiklik olup olmadığı bilinmeli
2. NA her zaman eksiklik anlamına gelmez.Bazen değerin 0 olduğu anlamına ,ölçüm olmadığı anlamına gelebilir.
3. Bilgi kaybı.Bir değişken eksik dşye diğer verileri silmek durmunda kalırız.

#### Eksik veri Türleri
1. Tümüyle Raslantısal Kayıp : Tamamen rastgele oluşan kayıp.
2. Raslantısal kayıp :Diğer değişkenlere bağlı olarak oluşabilen eksiklik türü.
3. Raslantısal Olmayan Kayıp : Göz ardı edilemeyecek olan ve yapısal problemler ile ortaya çıkan eksiklik türü.

##### Eksik Veri Problemi Nasıl Giderili ?
1. Silme yöntemi
2. Değer atama yöntemi 
3. Tahmine dayalı yöntemler (Makine öğrenmesi yöntemiyle gibi)

## Eksik Veri Hızlı Çözüm

In [22]:
import numpy as np
import pandas as pd
V1 = np.array([1,3,6,np.NaN,7,1,np.NaN,9,15])
V2 = np.array([7,np.NaN,5,8,12,np.NaN,np.NaN,2,3])
V3 = np.array([np.NaN,12,5,6,14,7,np.NaN,2,31])
df = pd.DataFrame(
            {"V1" : V1,
             "V2" : V2,
             "V3" : V3
            }
)

In [23]:
df

     V1    V2    V3
0   1.0   7.0   NaN
1   3.0   NaN  12.0
2   6.0   5.0   5.0
3   NaN   8.0   6.0
4   7.0  12.0  14.0
5   1.0   NaN   7.0
6   NaN   NaN   NaN
7   9.0   2.0   2.0
8  15.0   3.0  31.0

In [6]:
df.isnull().sum() #her değişkendeki eksik değer sayısanı verir

V1    2
V2    3
V3    2
dtype: int64

In [7]:
df.notnull().sum()#tam olanları

V1    7
V2    6
V3    7
dtype: int64

In [8]:
df.isnull().sum().sum() #toplamı verir

7

In [9]:
df.isnull()

      V1     V2     V3
0  False  False   True
1  False   True  False
2  False  False  False
3   True  False  False
4  False  False  False
5  False   True  False
6   True   True   True
7  False  False  False
8  False  False  False

In [12]:
df[df.isnull().any(axis = 1)] #eksik değerleri barındaıran satırlara erişmiş oluruz

    V1   V2    V3
0  1.0  7.0   NaN
1  3.0  NaN  12.0
3  NaN  8.0   6.0
5  1.0  NaN   7.0
6  NaN  NaN   NaN

In [13]:
df[df.notnull().all(axis = 1)]#hepsi dolu olanları getir dedik

     V1    V2    V3
2   6.0   5.0   5.0
4   7.0  12.0  14.0
7   9.0   2.0   2.0
8  15.0   3.0  31.0

#### Eksik Gözlemlerin Silinmesi

In [17]:
df.dropna() #bir tane dahi eksik olan gözlem birimini uçurur parantez boş olursa kalıcı olmaz
#parantez içine inplace=True yazarsak kalıcı olarak siler

     V1    V2    V3
2   6.0   5.0   5.0
4   7.0  12.0  14.0
7   9.0   2.0   2.0
8  15.0   3.0  31.0

### Basit Değer Atama

In [24]:
df["V1"]

0     1.0
1     3.0
2     6.0
3     NaN
4     7.0
5     1.0
6     NaN
7     9.0
8    15.0
Name: V1, dtype: float64

In [25]:
df["V1"].mean()#ortalamayı bulur

6.0

In [26]:
df["V1"].fillna(df["V1"].mean()) #fillna içne ne yazarsak onu doldurur

0     1.0
1     3.0
2     6.0
3     6.0
4     7.0
5     1.0
6     6.0
7     9.0
8    15.0
Name: V1, dtype: float64

In [27]:
df.apply(lambda x: x.fillna(x.mean()),axis = 0) #her bir değişkeni yakaladığında o değişkenlerin ort doldur

     V1         V2    V3
0   1.0   7.000000  11.0
1   3.0   6.166667  12.0
2   6.0   5.000000   5.0
3   6.0   8.000000   6.0
4   7.0  12.000000  14.0
5   1.0   6.166667   7.0
6   6.0   6.166667  11.0
7   9.0   2.000000   2.0
8  15.0   3.000000  31.0

### Eksik Veri Yapısının Görselleştirilmesi

In [3]:
!pip install missingno

Collecting missingno

  WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x0000024288A7C808>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/missingno/
  WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x0000024288A7F108>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/missingno/
  WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x0000024288A7FAC8>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/missingno/
  WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x0000024288A82D88>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/missingno/
  WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x0000024288A828C8>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/missingno/
  ERROR: Could not find a version that satisfies the requirement missingno (from versions: none)
ERROR: No matching distribution found for missingno

In [ ]:
import missingno as msno